[submodule "plugins/start/ctrlp"]
	path = plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "syntax/start/ale"]
	path = syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "plugins/start/airline"]
	path = plugins/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "syntax/start/surround"]
	path = syntax/start/surround
	url = git@github.com:tpope/vim-surround.git
